<div id="user_settings">
  <h2>Your Account</h2>
</div>
<div id="edit_user_settings">
  <% user = User.find(session[:user_id]) %>
  <form id="edit_user" method="post" action= <%= "/users/#{user.id}/edit" %> >
    <input type="text" name="first" value=<%= "#{user.first}" %>></input><br>
    <input type="text" name="last" value=<%= "#{user.last}" %>></input><br>
    <input type="text" name="email" value=<%= "#{user.email}" %>></input><br>
    <input type="date" name="birthday" value=<%= "#{user.birthday}" %>></input><br>
    <input type="password" name="password" placeholder="Password"></input><br>
    <input type="submit" value="Save Changes"></input>
  </form>
  <div id="delete_user" class="delete">Delete User</div>
</div>

<div id="confirm_delete">
  <form action=<%= "/users/#{user.id}" %> method="post">
    <h3>Enter your password to confirm. This action is permanent.</h3>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Delete User">
  </form>
</div>

<script src="/edit.js"></script>
